<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hike.appBenchmark.diffStats.DiffDao">

	<select id="getDataForAllPercentileForApk" resultMap="RunDataMap" parameterType="String">
		select rd.action, rd.average, rp.run_percentile as run_percentile_number
			FROM run_data rd INNER JOIN run_percentile rp
		ON rd.run_percentile = rp.run_percentile_id
			WHERE rp.run_id=#{runId}
	</select>

	<resultMap id="RunDataMap" type="RunData">
		<result property="reading1" column="reading1" />
		<result property="reading2" column="reading2" />
		<result property="reading3" column="reading3" />
		<result property="reading4" column="reading4" />
		<result property="reading5" column="reading5" />
		<result property="total" column="total" />
		<result property="average" column="average" />
		<result property="action.actions" column="action" />
		<result property="runPercentile.runPercentile.percentile" column="run_percentile_number" />
		<!-- <association property="runPercentile" resultMap="RunPercentileMap" /> -->
	</resultMap>

	<resultMap id="RunDataActionMap" type="Actions">
		<result property="actions" column="action" />
	</resultMap>

	<resultMap id="RunPercentileMap" type="RunPercentile">
		<result property="runPercentileId" column="run_percentile_id" />
		<association property="run" resultMap="RunMap" />
		<association property="runPercentile" resultMap="PercentileMap" />
	</resultMap>

	<resultMap id="PercentileMap" type="Percentile">
		<result property="percentile" column="run_percentile_number" />
		<result property="msisdn" column="msisdn" />
		<result property="chatMsisdn" column="msisdn_to_test_on" />
	</resultMap>

	<resultMap id="RunMap" type="Run">
		<result property="runId" column="run_id" />
		<result property="apkVersion" column="apk_version" />
	</resultMap>

</mapper>
